{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            {% if error %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="mb-4 text-sm text-gray-600">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="font-medium text-indigo-600 hover:text-indigo-500">Déconnexion</a>
                </div>
            {% endif %}
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <form method="post" class="space-y-6">
                    <h1 class="text-center text-3xl font-extrabold text-gray-900">Veuillez vous connecté</h1>

                    <div>
                        <label for="inputEmail" class="block text-sm font-medium text-gray-700">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2" autocomplete="email" required autofocus>
                    </div>

                    <div>
                        <label for="inputPassword" class="block text-sm font-medium text-gray-700">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md p-2" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div>
                        <button class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="submit">
                            S'inscrire
                        </button>
                    </div>
                    <div class="text-sm text-center">
                        <a href="{{ path('app_register') }}" class="font-medium text-indigo-600 hover:text-indigo-500">
                            Vous n'avez pas de compte ? S'inscrire
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
